:root {
  --icon-background: linear-gradient(45deg, tomato, purple);
  --chat-background-1: linear-gradient(45deg, #ee087f, #515bd4);
  --chat-background-2: linear-gradient(royalblue, grey);
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Main layout of the site */
.main-container {
  display: grid;
  grid-template-columns: 25% 25% 48%;
  justify-content: center;
  gap: 10px;
  background-color: hwb(0 100% 20%);
  padding: 20px;
}

.chat-profile {
  background-color: #fff;
  min-height: 100vh;
  border-radius: 15px;
}

.chat-online {
  background-color: #fff;
  min-height: 100vh;
  border-radius: 15px;
}

.chat-box {
  background-color: #fff;
  min-height: 100vh;
  border-radius: 15px;
}

/* Responsiveness of page layout */
@media screen and (max-width: 950px) {
  .main-container {
    grid-template-columns: 48% 48%;
  }

  .chat-box {
    grid-column: 1 / -1;
    order: -1;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-content: unset;
  }

  chat-box {
    grid-column: 1 / 1;
  }
}

@media screen and (max-width: 450px) {
  .main-container {
    background-color: unset;
  }

  .chat-profile,
  .chat-online,
  .chat-box {
    box-shadow: 3px 3px 10px grey;
  }
}

/* User profile */
.user-profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.user-img img {
  inline-size: 150px;
  block-size: 150px;
  border-radius: 50%;
  border: 5px solid darkgray;
  object-fit: cover;
  margin-bottom: 10px;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: limegreen;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 25px;
  border: 2px solid #fff;
}

.name,
.email,
.option-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.option-icons i {
  inline-size: 40px;
  block-size: 40px;
  background: var(--icon-background);
  text-align: center;
  color: white;
  margin-right: 10px;
  line-height: 40px;
  border-radius: 50%;
}

.option-icons {
  padding-bottom: 25px;
}

/* Media */
.media-files {
  margin-inline: 50px;
  border-top: 1px solid #ccc;
}

.media-files h4 {
  margin-block: 20px;
  text-align: center;
}

.media-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-files ul {
  margin-bottom: 15px;
}

.media-img li {
  list-style: none;
  margin-bottom: 7px;
  margin-right: 4px;
}

.media-img li img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

/* Groups */
.groups img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
 
.groups {
  margin-inline: 50px;
  border-top: 1px solid #ccc;
}

.groups p {
  font-weight: 700;
  text-align: center;
  margin-block: 30px;
}

.groups a {
margin-bottom: 20px;
color: grey;
display: flex;
align-items: center;
}

.groups a:hover {
  color: rebeccapurple;
  font-weight: 600;

}

/* Footer */
footer {
  background-color: white;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 15px;
}

.footer p {
  font-size: 16px;
  font-weight: 700;
}

.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer i {
  font-style: 15px;
  color: #4d4a4a;
}

.to-top {
  margin-left: 15px;
}

.foot-container .to-top-icon {
  background-color: darkgray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
